* {
  margin: 0px;
  padding: 0px;
}
/* navbar*/
.navbar-nav {
  font-size: 18px;
}
.navbar {
  position: stiky;
  top: 0;
  z-index: 1;
}
.progress {
  height: 30px;
  border-radius: 30px;
  transition: all 0.5s ease;
}
.progress :hover {
  transform: scale(1.1);
}
.card {
  transition: all 0.5s ease;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 10px black;
}
.card img {
  height: 200px;
}
.btn:hover {
  color: white;
}
#btnSend {
  text-align: center;
}
@media (max-width: 800px) {
  .row {
    flex-direction:column;
    text-align: center;
  }
}
