* {
  margin: 0px;
  padding: 0px;
}
/* navbar*/
.navbar-nav {
  font-size: 18px;
}
h3 {
  text-align: center;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  text-align: center;
}
#goal {
  text-align: center;
}
.container {
  text-align: center;
}
p {
  text-align: center;
}

.contact-info {
  text-align: center;
  padding: 3px;
}
#img1 {
  border-radius: 50%;
  padding: 40px;
  border: 3px solid grey;
}

#body1 {
  background-image: url('imgbac.jpeg');
}
h1,
h3 {
  text-align: center;
}
.navbar {
  text-align: center;
  position: stiky;
  top: 0;
  z-index: 1;
}
.progress {
  height: 30px;
  border-radius: 30px;
  transition: all 0.5s ease;
}
.progress :hover {
  transform: scale(1.1);
}
.card {
  background-color: rgba(255, 196, 196, 0.534);
  transition: all 0.5s ease;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 10px black;
}
.card img {
  height: 200px;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column;
    align-items: center;
  }
  nav {
    flex-direction: column;
    justify-items: center;
  }
  .col-md-4 {
    flex-direction: column;
    padding: 40px;
    padding: 25px;
  }
  .container my-5 {
    flex-direction: column;
  }
  .col-md-6 {
    flex-direction: center;
    justify-items: center;
    padding: 4px;
  }
  .ContactMe-Details {
    flex-direction: column;
    padding: 40px;
  }
  .contact-info {
    padding: 5px;
    margin: 30px;
    flex-direction: column;
  }
  #skills {
    flex-direction: column;
    justify-items: center;
    padding: 24px;
    margin: 10px;
  }
  #home {
    flex-direction: column;
    justify-items: center;
  }
}
